<%- model_class = User -%>
<div class="page-header">
  <h1>Account Info</h1>
</div>

<dl class="dl-horizontal">
  <dd></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @user.role %></dd>
  <% if current_user.present? && current_user.owner? %>
    <dt><strong><%= model_class.human_attribute_name(:restaurants) %>:</strong></dt>
    <% if current_user.restaurants.present? %>
    	<% @user.restaurants.each do |restaurant| %>
        <tr>
          <dd><%= restaurant.name %></dd>
        </tr>
      <% end %>
    <% else %>
      <dd><%= "You have no restaurants!" %></dd>
    <% end %>
  <% end %>  
</dl>

<div class="form-actions">
  <%= link_to t('home'),
              restaurants_path, :class => 'btn'  %>
</div>
