<% if !(current_user.present?) %>
  <% redirect_to(new_user_session_path, notice: "You must sign in first!") %>
<% end %> 


<%- model_class = User -%>
<div class="container" style="margin-top: 30px; margin-top: 7vh">
    <div class="page-header">
      <h1><%= "#{@user.name}" + "'s Favorites" %></h1>
    </div>

    <div class="row">

      <div class="span12">
        <% if current_user.favorites.present? %>
        	<% current_user.favorites.order(:name).each do |favorite| %>
            <div class="favorite">

            <a href=<%= restaurant_path(favorite) %> ><img src=<%= favorite.image.to_s %> /></a>
            <p><%=favorite.name%></p>

            </div>
          <% end %>
        <% else %>
          <h4> You have no favorites! </h4>
        <% end %>
      </div>

      <div class="span12 form-actions">
          <a href=<%= restaurants_path %> class="btn" role="button"><i class="icon-home"></i> Home</a>
      </div>

    </div>


</div>