<%= form_for @restaurant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :weekdays, :class => 'control-label' %>
    <div class="controls">
      <%= "Open:" %>
      <%= f.text_field :weekday_open_at, :class => 'text_field' %>
      <%= "Close:" %>
      <%= f.text_field :weekday_close_at, :class => 'text_field' %>
      <%= "Closed:" %>
      <%= hidden_field_tag "restaurant[weekday_closed_checkbox]", nil %>
      <%= check_box_tag "restaurant[weekday_closed_checkbox]", "checked" %>
      <p></p>
    </div>
  <div class="control-group">
    <%= f.label :fridays, :class => 'control-label' %>
    <div class="controls">
      <%= "Open:" %>
      <%= f.text_field :friday_open_at, :class => 'text_field' %>
      <%= "Close:" %>
      <%= f.text_field :friday_close_at, :class => 'text_field' %>
      <%= "Closed:" %>
      <%= check_box_tag "restaurant[friday_open_at]", nil %>
      <p></p>
    </div> 
  <div class="control-group">
    <%= f.label :saturdays, :class => 'control-label' %>
    <div class="controls">
      <%= "Open:" %>
      <%= f.text_field :saturday_open_at, :class => 'text_field' %>
      <%= "Close:" %>
      <%= f.text_field :saturday_close_at, :class => 'text_field' %>
      <%= "Closed:" %>
      <%= check_box_tag "restaurant[saturday_open_at]", nil %>
      <p></p>
    </div>
  <div class="control-group">
    <%= f.label :sundays, :class => 'control-label' %>
    <div class="controls">
      <%= "Open:" %>
      <%= f.text_field :sunday_open_at, :class => 'text_field' %>
      <%= "Close:" %>
      <%= f.text_field :sunday_close_at, :class => 'text_field' %>
      <%= "Closed:" %>
      <%= check_box_tag "restaurant[sunday_open_at]", nil %>
      <p></p>
    </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'file_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, {multiple: true} %>
        <p>
        <%= "(Hold CTRL to select multiple)" %>
        </p>

        </div>

      
  <% if !(@restaurant.name.present?) %>
    <div class="control-group">
      <%= f.label :security_text, :class => 'control-label' %>
      <div class="controls">
        <%= recaptcha_tags :display => { :theme => "clean" } %>
      </div>
    </div>
  <% end -%>
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>

    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>

  