<%- model_class = Restaurant -%>
<body>

<div class="hero-unit" style="padding-top:70px">
  <h1>Your meal. Your choice.</h1>
  <p class="lead"><i>Make reservations at any of the following world-class establishments</i></p>
</div>



<table class="table table-bordered table-hover table-responsive" style="background-color:white;color:black">
  <thead>
    <tr>
      <th><%= %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= image_tag restaurant.image_url(:thumb).to_s %></td>
        <td><%= restaurant.name %></td>
        <td>
          <% restaurant.categories.each do |category| %>
            <% if category == restaurant.categories.last %>
            <span class="label label-warning"><%= category.name %></span>
            <% else %>
             <span class="label label-warning"><%= category.name %></span><br>
            <% end -%>
          <% end -%>
        </td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td>
            <% if (current_user.present?) && (current_user.owner?) && (current_user == restaurant.owner) -%>
              <a class="btn btn-success" href=<%= restaurant_path(restaurant) %> ><i class="icon-search icon-white"></i></a>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_restaurant_path(restaurant), :class => 'btn' %>
              <%= link_to t('delete'),
                          restaurant_path(restaurant),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger' %>
            <% else %>
              <a class="btn btn-success btn-large" href=<%= restaurant_path(restaurant) %> ><i class="icon-search icon-white"></i></a>
            <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? && current_user.owner? -%>
  <%= link_to t('Create_new_restaurant'),
              new_restaurant_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('Browse_by_categories'),
        categories_path,
        :class => 'btn btn' %>
<% else -%>
  <%= link_to t('Browse_by_categories'),
            categories_path,
            :class => 'btn btn-primary' %>
<% end -%>
<br>
</body>

<script>
  $.backstretch("<%= asset_path 'the-zea-restaurant_1.jpg' %>", {fade: 750, duration: 6000});
</script>


