<%- model_class = Restaurant -%>
<body>

<div class="hero-unit" style="padding-top:70px">
  <h1>Your meal. Your choice.</h1>
  <p class="lead"><i>Make reservations at any of the following world-class establishments</i></p>
</div>



<table class="table table-bordered table-hover table-responsive span9" style="background-color:white; background-image: linear-gradient(340deg, #000000, #5D5D5D); color:white">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody style="font-size: 20px">
    <% @restaurants.each do |restaurant| %>
      <tr class='clickableRow' href="<%= restaurant_path(restaurant) %>">
        <td>
          <a href="<%= restaurant_path(restaurant) %>">
            <img class="table_photo" src="<%= restaurant.image_url(:thumb).to_s %>" />
          </a>
        </td>
        <td><%= restaurant.name %></td>
        <td>
          <% restaurant.categories.each do |category| %>
            <% if category == restaurant.categories.last %>
            <span class="label label-warning"><%= category.name %></span>
            <% else %>
             <span class="label label-warning"><%= category.name %></span><br>
            <% end -%>
          <% end -%>
        </td>
        <td><i><%= restaurant.description %></i></td>

        <td>
            <% if (current_user.present?) && (current_user.owner?) && (current_user == restaurant.owner) -%>
              <a class="btn btn-success" href=<%= restaurant_path(restaurant) %> ><i class="icon-search icon-white"></i></a>

              <a class="btn" href=<%= edit_restaurant_path(restaurant) %> ><i class="icon-pencil"></i></a>

              <a class="btn btn-danger" data-confirm="Are you sure you want to delete this restaurant's profile?" href=<%=restaurant_path(restaurant)%> data-method='DELETE' ><i class="icon-remove icon-white"></i></a>

            <% else %>
              <a class="btn btn-success btn-large" href=<%= restaurant_path(restaurant) %> ><i class="icon-search icon-white"></i></a>
            <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="span8" id="button_bin">
  <% if user_signed_in? && current_user.owner? -%>
    <%= link_to t('Create_new_restaurant'),
                new_restaurant_path,
                :class => 'btn btn-primary' %>
    <%= link_to t('Browse_by_categories'),
          categories_path,
          :class => 'btn btn' %>
  <% else -%>
    <%= link_to t('Browse_by_categories'),
              categories_path,
              :class => 'btn btn-warning btn-large', :style => 'color: black' %>
  <% end -%>
</div>

</body>

<script>
// makes table rows clickable links
// see: http://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link
jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});

  $.backstretch("<%= asset_path 'the-zea-restaurant_1.jpg' %>", {fade: 750, duration: 6000});
</script>


