<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '@restaurant.name', :default => model_class.human_attribute_name(@restaurant.name).titleize %></h1>
</div>



<%= image_tag @restaurant.image_url(:masthead).to_s %>

<dl class="dl-horizontal">
  <dd></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurant_name) %>:</strong></dt>
  <dd><%= @restaurant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:categories) %>:</strong></dt>
  <dd>
    <% @restaurant.categories.each do |category| %>
      <% if category == @restaurant.categories.last %>
       <%= category.name %>
      <% else %>
       <%= category.name + ", " %>
      <% end -%>
    <% end -%>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:user_name) %>:</strong></dt>
  <dd><%= User.find_by_id(@restaurant.user_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @restaurant.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @restaurant.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @restaurant.phone %></dd>
</dl>

<% if (current_user.present?) && (current_user.owner?) && (current_user == @restaurant.owner) -%>
  <h3> Reservations </h3>
  <% if !(@reservations.present?) -%>
    <table class="table table-striped">
      <thead>
        <tr></tr>
      </thead>
      <tbody>
        <tr>
          <td>You have no reservations<td>
        </tr>
      </tbody>
    </table>
  <% end -%>
  <% if (@reservations.present?) -%>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:time_and_date) %></th>
          <th><%= model_class.human_attribute_name(:message) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.email %></td>
            <td><%= reservation.time_and_date %></td>
            <td><%= reservation.message %></td>
            <td>
              <%= link_to t('Confirm reservation'),
              restaurant_reservation_path(@restaurant.id, reservation),
              :method => :delete,
              :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end -%>
<% end -%>

<h4> Find us on the map! </h4>
<div class="form-group">
    <div class="col-sm-10">
      <p class="form-control-static">
        <%= link_to image_tag("http://maps.googleapis.com/maps/api/staticmap?key=#{ENV['GOOGLE_STATIC_MAPS_API_KEY']}&size=400x400&maptype=roadmap&markers=size:mid|color:red|#{@restaurant.address}"), "http://maps.google.com?q=#{@restaurant.address}"
        %>
      </p>
    </div>
  </div>

<div class="form-actions">
  <% if !(current_user.present?) || !(current_user == @restaurant.owner) -%>
    <%= link_to t('Book Table'),
                new_restaurant_reservation_path(@restaurant), :class => 'btn btn-primary' %>
  <% end -%>

  <%= link_to t("Home"), restaurants_path, :class => 'btn'  %>
  <%= link_to t("Browse by Categories"), categories_path, :class => 'btn' %>

  <% if (current_user.present?) && (curent_user.owner?) && (current_user == @restaurant.owner) -%>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurant_path(@restaurant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurant_path(@restaurant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end -%>

</div>



