<%- model_class = Category -%>
<div class="page-header">
  <h1><%= @category.name %></h1>
</div>

  <dl class="dl-horizontal">
  <dd></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:restaurants) %>:</strong></dt>
  <dd>
    <% if @category.restaurants.present? %>
        <% @category.restaurants.each do |restaurant| %>
           <%= "#{restaurant.name}" + " " %>
           <%= link_to "Show", restaurant_path(restaurant)  %></br>
        <% end -%>
    <% else %>
      <%= "There are no restaurants in this category" %></br>
    <% end -%>
</dl>

  <%= link_to t("Return to Browse by Categories"),
            categories_path,
            :class => 'btn btn-primary' %>